extends layout

block content
  h1 #{title}
  br

  form(action="/", method="post")
    table.table.table-striped.table-bordered
      tr

        td Address
        td Time
        td Light Intensity
        td Humidity
        td Temperature 

      if (typeof tasks === "undefined")
        tr
          td
      else
        each task in tasks
          tr       
            td #{task.Time}
            td #{task.Address}
            td #{task.LightValue}
            td #{task.TempValue}
            td #{task.HumidValue}               
  hr
  form.well(action="/addtask", method="post")
    br
    button.btn(type="submit") Start Uploading Sensor Data